body{
    text-align: center;
}
.Score{
display: flex;  
}
.btn{
    height: 200px; 
    width: 200px;
    border-radius:20%;
    border: 10px solid black;
    margin: 2.5rem;

}
.btn-container{
    display: flex;
    justify-content:center;
}
.pink{
    background-color: palevioletred;
}
.blue{
    background-color: blueviolet;
}
.brown{
    background-color: burlywood;
}
.green{
    background-color: aquamarine;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}

